*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  /* shared style */


.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
.logo-footer{
    
}

.btn{
    background-color: #30B868;
    border: none;
    padding: 12.5px 16px;
    border-radius: 9px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}



   /* main style */

header{
       background-color: #627382;
       padding-top: 16px;

}

nav{
    width: 79%;
    max-width: 1360px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}
nav .menu a{
    font-size: 16px;
    color: black;
    text-decoration: none;


}

#banner{
 width: 100%;
height: 100vh;
max-width: 3000px;
background: url(../assets/hero-bg.png) , no-repeat;
display: flex;
justify-content: center;
background-size: cover;
background-position: center;

}

#banner .banner-content h2{
    font-size: 16px; 
    font-weight: 500;
    border: none;
    color: #30B868;


}
#banner .banner-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    color: #30B868;
    margin-bottom: 16px;

}
#banner .banner-content h1 span{

    color: white;
}

#banner .banner-content p{
    font-size: 18px;
    line-height: 1.6;
    color: white;
    margin-bottom: 32px;
}


